body {
    background: linear-gradient(45deg, #f5f7fa, #c3cfe2b0);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: #292929;
}

img {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

input {
    display: none;
    opacity: 0;
    z-index: -1;
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
}

.container {
    width: 70%;
    margin: 0 auto;
    padding: 3% 0;
}

.main-title {
    font-size: 2.5rem;
    margin-bottom: 2%;
    font-weight: 500;
}

/* Bayan */
.bayan {
    overflow: hidden;
}

.bayan-item {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 2% 0 2% 0;
    border-top: solid 2px #c2c2c2;
}

.bayan-item-icon {
    position: relative;
    width: 1rem;
    transform: rotate(45deg);
    z-index: 0;
    opacity: 0;
    transition: all .4s ease-in-out;
    margin-left: 98%;
}

.bayan:hover .bayan-item-icon {
    opacity: 1;
}

.bayan-item-label {
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 1.2rem;
    cursor: pointer;
    font-size: 1.6rem;
    color: #29292998;
    transition: all .4s ease-in-out;
    z-index: 1;
    margin: 0;
}

.bayan:hover .bayan-item-label {
    color: #292929;
}

.bayan-item-content {
    width: 0;
    margin: 0 auto;
    max-height: 0;
    opacity: 0;
    transition: all .35s;
}

input:checked ~.bayan-item-label {
    color: #292929;
}

input:checked ~.bayan-item-icon,
.bayan-item:hover .bayan-item-icon {
    opacity: 1;
    transform: rotate(0deg);
}

input:checked ~.bayan-item-content,
.bayan-item:hover .bayan-item-content {
    max-height: 100vh;
    width: 50%;
    margin: 2% auto;
    opacity: 1;
}


